#automotores{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.lista-automotores{
    width: 20vw;
    margin:10px;
    border-radius: 20px;
}   
#img-cart{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
#img-cart:hover{
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
#tit-auto{
    margin-left: 10px;
}
.add-cart{
    background: linear-gradient(0.2turn, #a8a5037e, #16b900);
    color: white;
    border-radius: 10px;
    border-style: none;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.add-cart:hover{
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.mas-menos{
    border-radius: 10px;
    border-style: none;
}